.form {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  textarea {
    min-height: 120px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: var(--bg-band);
    }
  }

  button {
    padding: 12px;
    background: var(--bg-band);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      border-color: var(--bg-band);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.success {
  color: green;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 14px;
}

/* mobile */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
